<%= render 'asset_files'%>

<body ng-app="blogApp">
  <div ng-controller="BlogController as blog">

      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-s-4">
              <h1 ng-click="blog.selectTab('blog')" class="push-left">{{blog.title}}</h1>
            </div>
            <div class="offset-s-4 col-s-4">
              <nav role='navigation' class="push-right">
                <ul>
                  <li><a href="#" ng-click="blog.selectTab('blog')">See All Posts</a></li>
                  
                  //
                  <li><a href="#" ng-click="blog.selectTab('new')">Add New Post</a></li>
                </ul>
              </nav> 
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="container">

        <div class="well">
          search: <input ng-model="search.content"/>
        </div>
        <ul class="list-inline" style="display:inline"  ng-repeat="tag in blog.tags">
          <li ><div  ng-click="blog.hello(tag.text)">{{tag.text}} <span class="badge">{{tag.counter}} </span></div></li>
        </ul>
        <br><br>
          <div class="row">
            <ul class="post-grid" ng-show="blog.isSelected('blog')">
              <li ng-repeat="post in blog.posts | filter:search" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)" >
                <h3>{{post.title}}</h3>

                <p >{{post.short_description | limitTo:70}}...</p> 
                <p class="fa fa-comment push-left"> {{post.comments.length}}</p>
                <!-- <p class="fa fa-heart push-right"> {{post.likes}}</p> -->
              </li>
            </ul>
            <!-- Displaying content of selected blog bost -->
            <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
              <div>
                <h2>{{post.title}}</h2>
                <cite> on {{post.updated_at | date}}</cite>                
                <h3><i>{{post.short_description}}</i></h3>
                <div class="post-body">
                  <p><div ng-bind-html="post.content | sanitize"></div></p>
                </div>
                <p><i>Refrence: <div ng-bind-html="post.refrence | sanitize"></div></i> </p>

                <!-- Comments section -->

                <%= render 'comments'%>

              </div>
            </div>
           <%= render 'new_blog'%>


          
            </div>
            
          </div>
        </div>
        
    </div>
  </div>
  
  
</body>